<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='../styles/index.css') }}"> -->
        <link rel="stylesheet" href="../static/styles/index.css">
        <title> Fuel Quote Form </title>
    </head>

    <body>
        <header>
            <div class="top_header">
                <img src="../static/images/logo_2.png" alt="Company Logo" class="company_logo">
            </div>
        </header>


        <div class="fuel_quote_form">
            <div class="fuel_quote_form_title">
                Fuel Quote Form
            </div>
            <br><br>

            <label for="Gallons_Requested">Gallons Requested:</label>
            <input type="number" placeholder="0.0" required>
            <br><br>

            <label for="Delivery_Address">Delivery Address: </label>
            <input type="text" value="Address" readonly>
            <br><br>

            <label for="Delivery_Date">Delivery Date: </label>
            <input type="date" placeholder="01/01/2000">
            <br><br>

            <label for="Price_per_gallon">Price/Gallon: </label>
            <input type="number" value="0.00" readonly>
            <br><br>

            <label for="total_amount">Total Amount: </label>
            <input type="number" value="0.00" readonly>
            <br><br>

        </div>
    </body>
</html>