<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">.
        <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
        <title> Fuel Quote History </title>
    </head>

    <body>
        <header>
            <div class="top_header">
                <!-- <img src="../static/images/logo_2.png" alt="Company Logo" class="company_logo"> -->
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Company Logo" class="company_logo">
                </a>
            </div>
        </header>


        <div class="quote_hist">
            <div class="fuel_quote_form_title">
                Quotation History
            </div>
            <br>

            <table>
                <tr class="table_header">
                    <th>Delivery Date </th>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
                    <th>Price/Gallon</th>
                    <th>Total Amount</th>
                </tr>

                {% for item in data %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                    </tr>
                {% endfor %}
                
            </table>
            <form action="" method="POST" class="fuel_quote_hist_button">
                <button type="submit" name="home" value="Home">Home</button>
            </form>
        </div>

        
    </body>
</html>