<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
        <title> Fuel Quote Confirmation </title>
    </head>

    <body>
        <header>
            <div class="top_header">
                <!-- <img src="../static/images/logo_2.png" alt="Company Logo" class="company_logo"> -->
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Company Logo" class="company_logo">
                </a>
            </div>
        </header>


        <div class="fuel_quote_form">
            <div class="fuel_quote_form_title">
                Fuel Quote Confirmation
            </div>        

            <div class="output_msg">
                {% if message %}
                    {% for m in message %}
                        <p>{{ m }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <form action="#" method="POST">
                <div class="fuel_quote_form_button">
                    <button type="submit" name="submit" value="Submit">Submit!</button>
                </div>
            </form>

            <form action="#" method="POST">
                <div class="fuel_quote_form_button">
                    <!-- <button type="submit" name="submit" value="Submit">Submit!</button> -->
                    <button type="submit" name="home" value="Home">Home!</button>
                </div>
            </form>

            
            <div class="output_msg">
                {% if out_msg %}
                    <p>{{ out_msg }}</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>