<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">.
        <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
        <title> Fuel Quote History </title>
    </head>

    <body>
        <header>
            <div class="top_header">
                <!-- <img src="../static/images/logo_2.png" alt="Company Logo" class="company_logo"> -->
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Company Logo" class="company_logo">
                </a>
            </div>
        </header>


        <div class="quote_hist">
            <table>
                <tr>
                    <th>Delivery Date </th>
                    <th>Gallons Requested</th>
                    <th>Price/Gallon</th>
                    <th>Total Amount</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        
    </body>
</html>