<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
        <title> Sign Up </title>
    </head>

    <body>
        <header>
            <div class="top_header">
                <!-- <img src="../static/images/logo_2.png" alt="Company Logo" class="company_logo"> -->
                <img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Company Logo" class="company_logo">
            </div>
        </header>


        <div class="signup_form">
            <div class="signup_form_title">
                Sign up!
            </div>
            <br><br>

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="username">
            <br><br>

            <label for="password">Password: </label>
            <input type="password" id="password" placeholder="password">
            <br><br>

            <div class="signup_buttons">
                <button type="register_button">Register!</button>
                <button type="back_button">Back</button>
            </div>
        </div>
    </body>
</html>